---
type Translations = typeof import("../i18n/en").default;
type FocusContent = Translations["about"]["focus"];
interface Props {
  content: FocusContent;
}
const { content } = Astro.props as Props;
---
<section class="w-full flex flex-col md:flex-row justify-center md:justify-between items-center bg-white container-full py-10 md:py-20 lg:py-30 gap-21.5 md:gap-8 lg:gap-21.5">
  <div class="relative rounded-3xl overflow-hidden w-full md:w-[55%] h-auto aspect-700/869 container-image-fade group">
    <img src="/images/focus.webp" alt="Focus TreeHubly" width="700" height="869" class="w-full h-full object-cover object-center inset-0 absolute image-fade group-hover:scale-125 transition-all duration-300 ease-in-out" decoding="async" loading="lazy" style="animation-delay: 0.2s;">
    <div class="absolute w-full h-full inset-0 z-10 gradient-image"></div>
  </div>
  <div class="flex flex-col justify-center items-center md:items-start gap-8 w-full md:w-[45%]">
    <h2 set:html={content.title} class="text-[32px] md:text-[48px] text-primary font-bold leading-[130%] md:leading-[120%] animation-zoom-in-3 text-center md:text-start"></h2>
    <p set:html={content.description} class="text-[12px] md:text-[14px] font-normal leading-[150%] text-primary animation-zoom-in-3 text-center md:text-start"></p>
    <div class="flex flex-col justify-center items-start gap-8">
      {
        content.items.map((item)=>(
          <div class="flex justify-start items-start gap-4 animation-zoom-in-3">
            <img src={`/images/${item.icon}.svg`} alt={item.title} width="48" height="48" class="w-6 h-6" decoding="async" loading="lazy">
            <div class="flex flex-col justify-center items-start gap-2">
              <h3 class="text-[14px] md:text-[16px] font-bold leading-[150%] text-primary">{item.title}</h3>
              <p class="text-[12px] md:text-[14px] font-normal leading-[150%] text-primary">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>