---
type Translations = typeof import("../i18n/en").default;
type ResourcesContent = Translations["resource"]["resources"];
interface Props {
  content: ResourcesContent;
}
const { content } = Astro.props as Props;
---
<section class="w-full bg-paragraph flex justify-center items-center ">
  <div class="container-full py-10 md:py-20 lg:py-30 grid grid-cols-1 gap-6">
          <div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-6 md:gap-4 lg:gap-6">
            {
              content?.slice(0, 2).map((item)=>( 
                <div class="flex flex-col justify-center items-start rounded-2xl md:rounded-3xl overflow-hidden  self-stretch border border-[#DEDEDE] animation-up-fast-2">
                  <div class="aspect-343/193 md:aspect-151/85 w-full h-auto relative group overflow-hidden">
                    <img src={`/images/${item.image}.webp`} alt={item.title} width="588" height="331" class="w-full h-full absolute object-center object-cover inset-0 group-hover:scale-125 transition-transform duration-300 ease-in-out">
                    <div class="absolute w-full h-full inset-0 z-10 gradient-image"></div>
                  </div>
                  <div class="flex flex-col justify-start items-start px-4 lg:px-8 py-6 lg:py-10 gap-4 md:gap-6 w-full lg:w-[80%] grow">
                    <div class="px-1 bg-secondary flex justify-center items-center">
                      <p class="text-[12px] md:text-[14px] font-bold leading-[150%] text-primary">{item.tag}</p>
                    </div>
                    <h3 class="text-[14px] md:text-[16px] font-bold leading-[150%] text-primary">{item.title}</h3>
                    <p set:html={item.description} class="text-[12px] md:text-[14px] text-primary leading-[150%] font-normal"></p>
                  </div>
                </div>
              ))
            }
          </div>
          <div class="grid grid-cols-1 md:grid-cols-3 justify-center items-center gap-6 md:gap-4 lg:gap-6">
            {
              content?.slice(2).map((item)=>( 
                <div class="flex flex-col justify-center items-center rounded-2xl md:rounded-3xl overflow-hidden border border-[#DEDEDE] self-stretch animation-up-fast-2">
                  <div class="aspect-343/193 md:aspect-video w-full h-auto relative group overflow-hidden">
                    <img src={`/images/${item.image}.webp`} alt={item.title} width="384" height="216" class={`w-full h-full absolute  object-cover inset-0 group-hover:scale-125 transition-all duration-300 ease-in-out ${item.image === "resource-4" ? "object-[50%_80%]" : "object-center"}`}>
                    <div class="absolute w-full h-full inset-0 z-10 gradient-image"></div>
                  </div>
                  <div class="flex flex-col justify-center items-start px-4 lg:px-8 py-6 lg:py-10 gap-4 md:gap-6 grow">
                    <div class="px-1 bg-secondary flex justify-center items-center">
                      <p class="text-[12px] md:text-[14px] font-bold leading-[150%] text-primary">{item.tag}</p>
                    </div>
                    <h3 class="text-[14px] md:text-[16px] font-bold leading-[150%] text-primary">{item.title}</h3>
                    <p set:html={item.description} class="text-[12px] md:text-[14px] text-primary leading-[150%] font-normal"></p>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
</section>